$head:  'IBM Plex Mono', monospace;
$body:  'Atkinson Hyperlegible', sans-serif;
@use 'vuetify/settings' with (
  // $utilities: false,
  $color-pack: false,
  $heading-font-family: $head,
  $body-font-family: $body
);
