$head: 'Poppins', sans-serif;
$body: 'Josefin Sans', sans-serif;
@use 'vuetify/settings' with (
  // $utilities: false,
  $color-pack: false,
  $heading-font-family: $head,
  $body-font-family: $body
);
